@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.cabecalho {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
}

.triangulo {
    display: flex;
    justify-content: center;
    background: #ff3b4a;
    flex-direction: column;
    height: 400pxpx;


}

/*
.triangulo {
    display: float;
    justify-content: center ;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 1280px solid rgb(228, 16, 16);
    border-bottom: 611px solid transparent;
    flex-wrap: wrap;
}*/


.jpedu {
    display: flex;
    justify-content: center;

}

.conteudo {
    display: flex;
    justify-content: center
   
}

.agendamento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
}

.titulo-player {
    color: #fff
}

.texto-btn {
    display: flex;
    align-items: center;
    color:#fff;
}
 
/* Section */

.faixa-cards {
    display: flex;
    justify-content: center;
    background: #3f3f3f
}

.corpo-cards {
    display: flex;
    justify-content:center;
    background: gray;
    flex-direction: column;
    align-items: center;
}

.corpo-circulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo-descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
}